{
	"extends": [
		"peerigon",
		"peerigon/react",
		"peerigon/typescript",
		"peerigon/styles/prefer-arrow"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"env": {
		"node": true,
		"browser": true
	},
	"root": true,
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"rules": {
		"no-tabs": "off",
		"indent": ["error", "tab"],
		"@typescript-eslint/indent": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"]
	}
}
