{
	"extends": ["peerigon/presets/prettier-typescript.js"],
	"parserOptions": {
		"project": "./tsconfig.json",
		"sourceType": "module"
	},
	"env": {
		"node": true,
		"browser": true
	},
	"rules": {
		"@typescript-eslint/strict-boolean-expressions": "off",
		"import/extensions": "off",
		"no-tabs": "off"
	}
}
