$baseClass: ".grb";

@mixin borderBox {
	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}
}

#partial-discussion-sidebar {
	height: 100%;
}

#{$baseClass}-browser {
	@include borderBox();
	position: sticky;
	top: 59px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	margin-top: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top: 1px solid #e1e4e8;
	max-height: calc(100vh - 50px);
	overflow: auto;
}

#{$baseClass}-button {
	display: block;
	position: relative;
	background: transparent;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	border: none;
	height: auto;
	text-align: left;

	transform-origin: 0 50%;
	transition: background 200ms;

	&:hover {
		background: rgba(0, 0, 0, 0.03);
	}
}

#{$baseClass}-reaction {
	margin: 0.25rem 0.5rem 0.25rem 0;
	font-weight: bold;
	color: #888;
	display: inline-block;
	text-shadow: 0 0 3px rgba(#fff, 0.4);
	font-size: 0.75em;
}

#{$baseClass}-highlight {
	border-color: #2188ff;
	box-shadow: 0 0 0 0.2em #c8e1ff;
}
