.grb-browser {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 100px;
  bottom: 20px;
  left: 0;
  flex-flow: column wrap;
  justify-content: flex-start;
}

body:not(.page-responsive) .grb-browser {
}

.grb-browser-button {
  background: transparent;
  padding: 0.5em 1.25em;
  white-space: nowrap;

  border: none;
  margin-right: -1px;
  margin-top: -1px;
  height: 30px;

  font-size: 32px;
  line-height: 0;
}

.grb-highlight {
  box-shadow: 0 0 5px 2px rgba(0, 56, 234, 0.3);
}

.grb-reaction {
  position: relative;
  margin: 0 0.5rem;
}

.grb-reaction:after {
  content: attr(data-grb-count);
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 0.5em;
}
